@model Product
@{
    ViewData["Title"] = "Details";
    Layout = "_LayoutCategory";
}

<!-- Page Content -->

        <div class="col-lg-9">

            <div class="card mt-4">
                <img class="card-img-top img-fluid" src="~/img/700x400/@(Model.ProductID).jpg" alt="@Model.ProductName" />

                <div class="card-body">
                    <h3 class="card-title">@Model.ProductName</h3>
                    <h4>@Model.Price</h4>
                    <p class="card-text">@Model.Description</p>
                   




                    <form id="@Model.ProductID" asp-action="AddToCart"             
                          asp-controller="Cart" method="post">
                        <input type="hidden" name="id" asp-for="@Model.ProductID" />
                        <input type="hidden" name="returnUrl"                
                               value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                        <small class="text-muted">
                            &#9733; &#9733; &#9733; &#9733; &#9734;
                            <button type="submit" class="btn btn-primary btn-sm pull-right">Add To Cart</button>
                        </small>
                    </form>


                </div>
            </div>
            <!-- /.card -->

            <div class="card card-outline-secondary my-4">
                <div class="card-header">
                    Product Reviews
                </div>
                <div class="card-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                    <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                    <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                    <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                    <hr>
                    <a href="#" class="btn btn-success">Leave a Review</a>
                </div>
            </div>
            <!-- /.card -->

        </div>

<!-- /.container -->
