@model ProductsListViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutCategory";
}
    <!-- Page Content -->
                <div class="col-lg-9">
                    <div class="row">

                        @foreach (var item in Model.Products)
                        {
                            <div class="col-lg-4 col-md-6 mb-4">
                                <div class="card h-100">
                                    <a asp-controller="Products" asp-action="Details" asp-route-id="@item.ProductID">
                                        <img class="card-img-top" src="~/img/700x400/@(item.ProductID).jpg" alt="">
                                    </a>
                                    <div class="card-body">
                                        <h4 class="card-title">
                                            <a asp-controller="Products" asp-action="Details" asp-route-id="@item.ProductID">
                                                @item.ProductName
                                            </a>
                                        </h4>
                                        <h5>@item.Price</h5>
                                        <p class="card-text">@item.Description</p>
                                    </div>
                                    <div class="card-footer">
                                        <form id="@item.ProductID" asp-action="AddToCart"             
                                              asp-controller="Cart" method="post">
                                            <input type="hidden" name="id" asp-for="@item.ProductID" />
                                            <input type="hidden" name="returnUrl"                
                                                   value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                                            <small class="text-muted">
                                                &#9733; &#9733; &#9733; &#9733; &#9734;
                                                <button type="submit" class="btn btn-primary btn-sm pull-right">Add To Cart</button>
                                            </small>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        }


                    </div>
                    <!-- /.row -->
                    <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
                         page-class="btn" page-class-normal="btn-secondary"
                         page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory"
                         class="btn-group pull-right m-1">
                    </div>
                </div>
        <!-- /.container -->
